@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
}

/*Maquetado*/
.grid-container{
    display: grid;
    grid-template: 
    "header" 130px
    "nav" 120px
    "main"
    "footer" 150px;
}

/*Cada uno de los contenedores*/
.grid-container > * {
    /*box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);*/
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

/*Encabezado*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    /*Borrar Con Imagen*/
    font-weight: 700; /*Negritas*/
    color: white;
    font-size: 100px;
}

/*Grupo navegación y divisor*/
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*Botones Barra navegación*/
.nav button{
    width: 120px;
    height: 30px;
    font-size: 20px;

    border: 0;
    background-color: transparent;

    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: space-evenly;
}

/*Hover Botones*/
.nav button:hover{
    cursor: hand;
}

/*Imagen Botones*/
.nav button img{
    width: 25px;
    height: 25px;
}

/*Divisor Barra Navegación*/
.nav a{
    width: 1px;
    height: 25px;
    background-color: #000000;
}

/*Barra navegación Completa (Botones + Divisor)*/
.NavCompleto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Divisor Barra Navegación*/
.NavCompleto .Divisor{
    margin-top: 30px;
    width: 1300px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.50);
}   